.btn {
  font-family: var(--font-body);
  font-size: 1rem;
  border: 0;

  padding: 1rem;
  cursor: pointer;
}

a.btn:hover {
  text-decoration: none;
}

.btn--primary {
  background-color: var(--color-dark);
  color: var(--color-light);
}
