{
  "extends": [
    "plugin:shopify/esnext",
    "plugin:shopify/jquery",
    "plugin:react/recommended"
  ],
  "plugins": ["react"],
  "env": {
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-unresolved": ["error", {"ignore": ["^jquery"]}],
    "no-alert": 0,
    "no-console": 0,
    "no-new": 0,
    "node/shebang": 0,
    "import/no-extraneous-dependencies": "off",
    "require-await": "off",
    "no-empty-function": "off",
    "id-length": "off",
    "func-style": "off",
    "no-warning-comments": "warn",
    "react/prop-types": "off",
    "react/no-unknown-property": ["error", {"ignore": ["class"]}],
    "no-undefined": "off"
  },
  "globals": {
    "document": true,
    "window": true,
    "Shopify": true,
    "theme": true,
    "module": true,
    "fetch": false
  }
}
