{
  "extends": [
    "plugin:shopify/esnext",
    "plugin:shopify/jquery"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-unresolved": ["error", {"ignore": ["^jquery"]}],
    "no-alert": 0,
    "no-console": 0,
    "no-new": 0,
    "node/shebang": 0,
    "import/no-extraneous-dependencies": "off",
    "require-await": "off",
    "no-empty-function": "off",
    "id-length": "off",
    "func-style": "off",
    "no-warning-comments": "warn"
  },
  "globals": {
    "document": true,
    "window": true,
    "Shopify": true,
    "theme": true,
    "module": true,
    "fetch": false
  }
}
