@import '../variables.scss';

.featured-collection {
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
  overflow-x: hidden;
}

.featured-collection__item {
  position: relative;

  height: 100%;
  text-align: center;
  padding: $space-2;
  color: var(--color-body-text);

  &:hover {
    color: var(--color-primary);
    text-decoration: none;
  }
}

.featured-collection__title {
  flex-basis: 100%;
  text-align: center;
  font-weight: var(--font-heading-weight);

  @media screen and (max-width: 767px) {
    font-size: (25rem / 16);
  }
}

.featured-collection__carousel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100vw;
  padding: 0 6rem;
  font-size: $text-lg;
}

.featured-collection__image {
  position: relative;
}

.featured-collection__price {
  color: var(--color-gray);
  text-transform: lowercase;
}

.featured-collection__featured-price {
  color: var(--color-body-text);
  margin: $space-2;
}

.featured-collection__strike-price {
  text-decoration: line-through;
  margin: $space-2;
}

.featured-collection__sale-badge {
  position: absolute;
  top: 1em; right: 1em;
  width: 5rem; height: 5rem;
  border-radius: 50%;
  font-weight: var(--font-body-bold-weight);
  letter-spacing: 0.08em;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-transform: uppercase;
  font-size: $text-sm;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-collection__quick-view-wrapper {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: $space-3;
  font-size: $text-base;

  .featured-collection__item:hover & {
    visibility: visible;
  }
}

.featured-collection__quick-view {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 0;
  border-width: 0;
  padding: $space-4;
  font-family: var(--font-body);
}
