@import '../variables';
@import '../tools/mixins';
@import '../../scripts/util/Button';

@import './mobile-menu.scss';
@import './slider-menu.scss';

/** Top header comprising free-shipping announcement and navigation menu. */
.header {
  z-index: 20;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  font-size: $text-base;

  a {
    color: var(--color-body-text);
    font-weight: 500;
  }

  &__banner {
    background-color: white;
    box-shadow: 0 1px 0 var(--color-shadow-navbar);
    color: var(--color-body-text);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 0.875rem 1.5rem;
    
    h1, .h1 {
      margin: 0;
    }

    @media screen and (min-width: $mobile-menu-breakpoint) {
      padding: 1.25rem 3.75rem;
    }
  }

  &__brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__announce {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    font-size: $text-sm;

    p {
      margin: $space-2 $space-3;
    }
  }

  /** Small container for search/fave/cart actions. */
  &__right-actions {
    white-space: nowrap;
  }

  &__action-button {
    @include button-link;
    margin: 0.5rem;
  }

  /** Container for navigation links. */
  &__nav {
    ul {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      margin: 0;
    }
  
    &--banner {
      display: block;
      @media screen and (max-width: ($mobile-menu-breakpoint - 1)) {
        display: none;
      }
    }
  
    &-item {
      padding: $space-3 $space-4;
    }
  
    &-menu a {
      display: flex;
      flex-flow: row nowrap;
      align-items: start;
    }
  }
}
