@import '../variables';
@import '../../scripts/util/Button';

.hero__overlay {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: flex-end;
  padding-bottom: 2rem;
  background-position: 0% 60%;
  background-size: 250%;
  background-origin: border-box;

  > * {
    z-index: 10;
  }

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background 200ms;
    
    @media screen and (min-width: 768px) {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  @media screen and (min-width: 400px) {
    background-size: cover;
  }
  
  @media screen and (min-width: 768px) {
    justify-content: center;
    background-position: center;
    padding-left: 3rem;
  }
}

.hero__inner {
  padding: 1.5rem;
}

.hero__content {
  max-width: 30rem;
}

.hero__content--light {
  color: var(--color-light);
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.hero__content--dark {
  color: var(--color-dark);
}

.hero__mega-title {
  line-height: (39rem / 16);
  margin-bottom: 1.25rem;
  font-size: 2rem;
  
  @media screen and (min-width: 768px) {
    line-height: (71rem / 16);
    font-size: 4rem;
  }
}

.hero__mega-subtitle {
  font-size: $text-lg;
  line-height: 1.6;

  @media screen and (min-width: 768px) {
    line-height: (30rem / 16);
  }
}

.btn.hero__btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: (14rem / 16);
  padding: (14rem / 16) 1.25rem;
}